<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%c{1}] %-5level - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="debug" />
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
        </Root>

        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>